$over-width: 1300px;
$small-width: 1050px;
$desctop-width: 992px;
$table-width: 768px;
$mobile-width: 650px;

@mixin small {
	@media all and (max-width: #{$small-width}) {
		@content;
	}
}

@mixin over-width {
	@media all and (max-width: #{$over-width}) {
		@content;
	}
}

@mixin desctop {
	@media all and (max-width: #{$desctop-width}) {
		@content;
	}
}

@mixin table {
	@media all and (max-width: #{$table-width}) {
		@content;
	}
}
@mixin mobile {
	@media all and (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin to($media) {
    @media screen and (max-width: $media ) {
        @content;
    }
}
//$pirple: #2856a2;

@font-face {
  font-family: "Inter";
  src: url("../fonts/InterTight-Thin.woff2") format("woff2");
  src: url("../fonts/InterTight-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterTight-ExtraLight.woff2") format("woff2");
  src: url("../fonts/InterTight-ExtraLight.woff") format("woff");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterTight-Light.woff2") format("woff2");
  src: url("../fonts/InterTight-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InterTight";
  src: url("../fonts/InterTight-LightItalic.woff2") format("woff2");
  src: url("../fonts/InterTight-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterTight-Regular.woff2") format("woff2");
  src: url("../fonts/InterTight-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterTight-Medium.woff2") format("woff2");
  src: url("../fonts/InterTight-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterTight-SemiBold.woff2") format("woff2");
  src: url("../fonts/InterTight-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterTight-Bold.woff2") format("woff2");
  src: url("../fonts/InterTight-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/InterTight-ExtraBold.woff2") format("woff2");
  src: url("../fonts/InterTight-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FairwallSans";
  src: url("../fonts/FairwallSans-Regular.woff2") format("woff2");
  src: url("../fonts/FairwallSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  color: var(--1, #2d2f31);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;

  display: flex;
  flex-direction: column;

  @include mobile() {
    font-size: 16px;

    //background: #000;
  }
}
.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  @include mobile {
  }
}
p {
  margin: 0;
  cursor: default;

  @include mobile() {
    font-size: 16px !important;
    line-height: 1.1em;
  }
}
button {
  cursor: pointer;
}
span,
div {
  cursor: default;
  @include mobile() {
    font-size: 16px !important;
    line-height: 1.1em;
    line-height: 20px !important;
  }
}
ul,
li {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1em;
}

button {
  cursor: pointer;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.container {
  max-width: 1210px;
  width: 100%;
  flex: 1 1 auto;
  padding: 0 15px;
  margin: 0 auto;

  &-bigger {
    max-width: 1500px;

    @include over-width() {
      max-width: 1020px;
    }

    @include small() {
      max-width: 960px;
    }

    @include desctop() {
      max-width: 768px;
    }

    @include table() {
      max-width: 640px;
    }
  }

  @include over-width() {
    max-width: 1020px;
  }

  @include small() {
    max-width: 960px;
  }

  @include desctop() {
    max-width: 768px;
  }

  @include table() {
    max-width: 640px;
  }

  @include mobile() {
    max-width: 360px;
    padding: 0 5px;
  }

  @media (max-width: 320px) {
    padding: 0 15px;
  }
}
.block {
  @include mobile() {
    display: block;
  }
}

.tac {
  text-align: center;
}

.section-title {
  color: var(--1, #2d2f31);
  text-align: center;
  font-family: "FairwallSans", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;

  font-size: calc(30px + 14 * ((100vw - 640px) / (1920 - 640)));

  @media screen and(min-width: 1920px) {
    font-size: 44px;
  }

  @include mobile() {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    line-height: 130% !important;
    margin-top: 0;
    text-align: center;
  }

  span {
    @include mobile() {
      font-size: 24px !important;
      line-height: 130% !important;
    }
  }
}

@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30%,
  to {
    left: 110%;
    margin-left: 80px;
  }
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30%,
  to {
    left: 110%;
    margin-left: 80px;
  }
}

.btn {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  transition: background-image 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 2;
  justify-content: center;

  cursor: pointer;

  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  width: 320px;
  height: 60px;

  border-radius: 10px;
  background: var(--1, #2d2f31);

  img {
    width: 13px;
    height: 15px;
  }

  &::after {
    content: "";
    margin-left: 60px;
    width: 15px;
    height: 300px;
    background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.01));
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.01s;
    position: absolute;
    left: -90px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    transition: all 0.3s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transform: rotate(45deg);
    z-index: 0;
  }

  @include mobile() {
    width: 100% !important;
    height: 50px !important;
    font-size: 14px !important;
  }

  &:hover {
    background: #525252;
  }

  &:active {
    background: #0c0c0c;
  }
}

input {
  outline: none;
}

label.error {
  display: none !important;
}

input.error {
  display: block;
  color: red !important;

  &::placeholder {
    color: red !important;
  }

  // &.phone {
  // font-family: 'MontSemiBold',sans-serif;
  // font-weight: 600;
  // &::placeholder {
  // font-family: 'MontSemiBold',sans-serif;
  // font-weight: 600;
  // }

  // }
}

.form-transition input.error {
  background: #fff;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.top-anim {
  opacity: 0;
  transform: translateY(-30px);
  transition:
    opacity 1.5s,
    transform 2s;
  &._active {
    opacity: 1;
    transform: translateY(0px);
  }
}

.down-anim {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 1.5s,
    transform 2s;
  &._active {
    opacity: 1;
    transform: translateY(0px);
  }
}

.left-anim {
  opacity: 0;
  transform: translateX(-30px);
  transition:
    opacity 1.5s,
    transform 2s;

  &._active {
    opacity: 1;
    transform: translateY(0px);
  }
}

.right-anim {
  opacity: 0;
  transform: translateX(30px);
  transition:
    opacity 1.5s,
    transform 2s;
  &._active {
    opacity: 1;
    transform: translateY(0px);
  }
}

section .container {
  // @include to(1520px) {
  // overflow: hidden;
  // }

  @include mobile() {
    overflow: visible;
  }
}

.slick-dots li button:before {
  opacity: 0;
}

.slick-dots li.slick-active button:before {
  opacity: 0;
}

.noLink {
  pointer-events: none;
}

.slick-prev:before,
.slick-next:before {
  line-height: 1px;
  font-family: inherit;
}

.mob-row {
  @include mobile() {
    display: block;
  }
}

// для всех слайдеров
.slick-dots {
  li button::before {
    font-size: 0 !important;
    opacity: 0 !important;
  }

  .slick-dots button:hover {
    font-size: 0 !important;
  }

  .slick-active button {
    background: #ff005b;
  }
}

.form-section-bottom-text {
  text-align: center;

  @include mobile() {
    text-align: center !important;
  }
}

.form-inputs {
  @include mobile() {
    width: 100%;
  }
}

//form

.form-inner {
  position: relative;
  z-index: 4;
  width: auto;
  margin: 0;

  @include mobile() {
    width: 100%;
  }
}

.form-section-wrap {
  max-width: 620px;
  width: 100%;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;

  margin: 0;
  gap: 10px;
  text-align: center;
  margin: 0 auto;

  @include table() {
    max-width: 400px;
    flex-direction: column;
  }

  @include mobile() {
    gap: 8px !important;

    flex-direction: column;
    width: 100%;
    gap: 8px !important;

    padding: 0;
  }

  .btn {
    @include table() {
      width: 100% !important;
    }
  }
}

.form-section-row {
  position: relative;

  overflow: hidden;
  width: 100%;
  height: 60px;

  border-radius: 10px;
  background: #fff;

  @include table() {
    width: 100% !important;
  }

  @include mobile() {
    height: 50px !important;
    width: 100%;
  }

  &:focus {
    background: #fff;
  }
}

.form-section-row input {
  width: 100%;
  height: 100%;
  border: none;
  line-height: 100%;
  background: transparent;

  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  padding-left: 24px;

  @include mobile() {
    font-size: 16px;
  }

  &::placeholder {
    color: #616161;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    @include mobile() {
      font-size: 16px;
    }
  }
}

.form-bottom {
  color: var(--1, #2d2f31);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 116%;

  margin-top: 24px;

  @include mobile() {
    text-align: center;
    font-size: 12px !important;
    line-height: 100% !important;
    margin-top: 15px;

    text-align: center !important;
  }

  a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    @include mobile() {
      font-size: 12px !important;
      line-height: 100% !important;
      display: block;
      margin-top: 8px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.overflow-inner {
  overflow: hidden;
}

.slick-dots {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;

  bottom: -56px;

  @include table() {
    text-align: center;
  }

  @include mobile() {
    bottom: -30px;
  }

  li {
    width: 10px;
    height: 10px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 5px;

    button {
      background: grey;

      width: 100%;
      height: 100%;
      padding: 0;

      &:before {
        display: none;
      }
    }

    &.slick-active {
      height: 10px;
      button {
        background: #2d2f31;
        height: 100%;
      }
    }
  }
}

.form-section-row {
  &.tell {
    &.validate {
      display: block;

      border: 1px solid red;

      input {
        color: red !important;
        &::placeholder {
          color: red !important;
        }
      }
    }
  }
}

.form-info__bottom {
  display: none;

  font-size: 12px;
  color: #000;
  text-align: start;
  margin-top: 10px;
  color: red;

  &.error {
    display: block;
  }

  @include mobile() {
    text-align: center;
    font-size: 12px !important;
    line-height: 100% !important;
  }
}

.label {
  position: relative;
  z-index: 2;
}

label {
  display: inline-block;
  @include mobile() {
    display: inline-block;
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
}

.form-allert {
  position: relative;
  display: inline-block;
  z-index: 1;
  pointer-events: none;
  margin-right: 5px;
  padding: 2px 0;

  @include mobile() {
    font-size: 12px !important;
    line-height: 100% !important;
    padding: 10px 0;
  }

  &::after {
    content: "";
    position: absolute;

    right: -5px;
    top: 50%;
    transform: translateY(-50%);

    background: red;
    border: 1px solid #fff;

    width: calc(100% + 35px);
    border-radius: 4px;
    height: 120%;
    z-index: -2;
    display: none;

    @include mobile() {
      height: 25px;
    }
  }

  &::before {
    content: "";
    position: absolute;

    right: -5px;
    top: 50%;
    transform: translateY(-50%);

    animation: shadow-pulse 1s infinite;
    border-radius: 5px;

    width: calc(100% + 35px);
    height: 120%;
    z-index: -2;
    display: none;

    @include mobile() {
      height: 30px;
    }
  }

  &.error {
    color: #fff;

    &::before {
      display: block;
    }

    &::after {
      display: block;
    }
  }
}

.form-bottom {
  &.error {
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      border: 1px solid #fff;
    }
  }
}

label {
  position: relative;
  z-index: 2;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  line-height: 1.7;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  //top: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 1px solid #aaa;
  background: transparent;
  border-radius: 0.2em;
  //box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
  -webkit-transition: all 0.275s;
  transition: all 0.275s;
  z-index: 2;
}

[type="checkbox"]:checked + label:before {
  background: #07f;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "✓";
  position: absolute;
  //top: 7px;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  font-size: 14px;
  color: #fff;
  line-height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 2;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #777;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  //box-shadow: inset 0 1px 3px rgba(218, 188, 20, 0.414);
}

.subtitle {
  color: var(--1, #2d2f31);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;

  @include over-width() {
    font-size: 28px;
  }

  @include desctop() {
    font-size: 24px;
  }

  @include mobile() {
    font-size: 18px !important;
    line-height: 120% !important;
  }
}

.wrap-slider {
  &.overflow {
    .slick-list {
      @include mobile() {
        overflow: visible;
      }
    }
  }
}

br {
  &.mob-br {
    display: none;

    @include mobile() {
      display: block !important;
    }
  }
}

.fancybox-close-small:after {
  content: "×";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font:
    22px / 30px Arial,
    Helvetica Neue,
    Helvetica,
    sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background-color: transparent;
  transition: background-color 0.25s;
  box-sizing: border-box;
  z-index: 2;
}

#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 160px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition:
    background-color 0.3s,
    transform 0.3s;
  width: 60px;
  height: 60px;

  @include mobile() {
    bottom: 120px;
    width: 50px;
    height: 50px;
    padding: 5px;
  }

  svg {
    pointer-events: none;
  }
}

#scrollTopBtn:hover {
  background-color: #fc1403;
  transform: translateY(-3px);
}

.scrolled-wrap {
  position: fixed;
  bottom: 120px;
  left: 10px;
  z-index: 20;
  width: 70%;
  display: none;

  .buttonScolled {
    @include mobile() {
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  &.scrolled {
    display: block;
  }
}

.btn.buttonScolled {
  max-width: 100%;
  width: 100%;
}

.widjet {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 30px 0;
  flex-direction: column;

  @include mobile() {
    height: auto;
    z-index: 2;
    padding: 13px 0;
  }

  .container {
    @include mobile() {
      max-width: 360px;
    }
  }

  .header-inner {
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    z-index: 2;

    @include desctop() {
      align-items: center;
      gap: 20px;
    }

    @include mobile() {
      height: auto;
      align-items: center;
      padding: 0;
      border-bottom: 0;
    }
  }

  .logo {
    width: 253px;
    @include mobile() {
      width: 120px;
    }
  }

  .header-info {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @include table() {
      display: none;
    }
  }

  .header-pnone {
    @include mobile() {
      font-size: 14px;
    }

    &:hover {
      text-decoration: underline;
    }

    // &::after {
    // content: '';
    // position: absolute;

    // left: 0;
    // top: 0;

    // background-image: url(../img/header/tell.svg);
    // background-repeat: no-repeat;
    // background-size: contain;

    // width: 24px;
    // height: 24px;
    // z-index: 1;
    // }
  }

  .mob-header-call {
    display: none;

    @include mobile() {
      display: block;
    }
  }

  .header-call {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    width: 158px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    background: var(--1, #2d2f31);
    cursor: pointer;

    transition: all 0.3s;

    &:hover {
      background: #525252;
    }

    &:active {
      background: #0c0c0c;
    }

    @include mobile() {
      width: 135px;
      height: 35px;
      font-size: 13px !important;
      display: none;
    }
  }

  .descp {
    font-size: 12px !important;
    padding: 3px 0;
    background: var(--2, #c12e46);
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    display: none;

    @include mobile() {
      display: block;
    }
  }
}

.offer {
  height: 100vh;
  .offer-banner {
    height: 100%;

    img {
      height: 100%;
    }
  }
}

.second {
  .section-inner {
    padding: 96px 0 120px 0;
    position: relative;
    z-index: 1;

    @include desctop() {
      padding: 90px 0;
    }

    @include table() {
      padding: 60px 0;
    }

    @include mobile() {
      padding: 35px 0;
    }
  }
  .section-title {
    margin-bottom: 20px;
  }
  .subtitle {
    margin-bottom: 73px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }
  .second-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin-bottom: 72px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }
  .second-item {
    border-radius: 20px;
    border: 1px solid #dedede;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    padding: 20px 20px 30px 30px;
    display: block;
  }

  .second-item__icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: var(--1, #2d2f31);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 28px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }

  .second-item__text {
    font-size: 26px;
    font-weight: 400;
    line-height: 110%;

    span {
      font-family: "FairwallSans", sans-serif;
      font-size: 40px;
      font-weight: 300;
      line-height: 120%;
      display: block;
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .second-subtitle {
    text-align: center;
    margin-bottom: 25px;
  }

  .btn {
    margin: 0 auto;
  }
}

.third {
  background: linear-gradient(0deg, #eeeff0 0%, #fff 100%);
  .section-inner {
    padding: 120px 0 116px;
    position: relative;
    z-index: 1;
    border: 1px solid #abbcc3;
    background: linear-gradient(111deg, #e6e6e6 -27.61%, #f0f0f0 101.56%);
    @include desctop() {
      padding: 90px 0;
    }

    @include table() {
      padding: 60px 0;
    }

    @include mobile() {
      padding: 35px 0;
    }
  }
  .section-title {
    margin-bottom: 20px;
  }
  .subtitle {
    margin-bottom: 92px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }
  .third-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
  }
  .third-list {
    padding-left: 0;
  }
  .third-item {
    display: block;
    padding-left: 40px;
    border-left: 2px solid #2d2f31;
    margin-bottom: 98px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }
  .third-item__subtitle {
    font-size: 26px;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 7px;
  }
  .third-item__row {
    display: flex;
    align-items: center;
    gap: 23px;
  }
  .third-item__title {
    font-family: "FairwallSans", sans-serif;
    font-size: 66px;
    font-weight: 300;
    line-height: 120%;
  }
  .third-item__text {
    font-size: 22px;
    font-weight: 400;
    line-height: 110%;
  }

  /////////////////////////////////////////////////////////////////////////
  .third-box {
    max-width: 680px;
    width: 100%;
    padding: 119px 20px 40px 40px;
    background-image: url(../img/third/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include mobile() {
      padding: 40px 20px 20px 20px;
    }
  }
  .third-box__title {
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 15px;
  }
  .third-box__text {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 110%;
  }
}

.four {
  background: linear-gradient(0deg, #fff 0%, #eeeff0 100%);

  .section-inner {
    padding: 130px 0;
    position: relative;
    z-index: 1;
    @include desctop() {
      padding: 90px 0;
    }

    @include table() {
      padding: 60px 0;
    }
    @include mobile() {
      padding: 35px 0;
    }
  }
  .section-title {
    margin-bottom: 67px;
  }
  .subtitle {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .four-info {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 67px;
  }
  /////////////////////////////////////////////////////////////////////////
  .four-img {
    margin-bottom: 13px;
  }
  /////////////////////////////////////////////////////////////////////////
  .four-slider {
    display: flex;
    gap: 12px;
    margin-bottom: 67px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }
  .four-slide {
  }
  /////////////////////////////////////////////////////////////////////////
  .four-bottom-subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 20px;
  }
  .four-bottom-info {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 110%;
  }
}

.five {
  background: linear-gradient(180deg, #fff 0%, #e6e6e6 100%);

  .section-inner {
    padding: 120px 0;
    position: relative;
    z-index: 1;

    @include mobile() {
      padding: 35px 0;
    }
  }
  .section-title {
    margin-bottom: 44px;
  }
  .subtitle {
    margin-bottom: 80px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }
  .five-list {
    padding-left: 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .five-item {
    display: block;
    border-radius: 20px;
    border: 1px solid #dedede;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    padding: 30px;

    @include mobile() {
      padding: 20px;
    }
  }
  .five-item__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 37px;
    border-radius: 10px;
    background: var(--1, #2d2f31);

    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile() {
      margin-bottom: 20px;
    }
  }
  .five-item__title {
    font-size: 26px;
    line-height: 110%;
    margin-bottom: 14px;
  }
  .five-item__text {
  }
  /////////////////////////////////////////////////////////////////////////
  .five-images {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }
  /////////////////////////////////////////////////////////////////////////

  .five-bottom__subtitle {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 19px;
  }
  .five-bottom__info {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 25px;
  }
  .btn {
    margin: 0 auto;
  }
}

.six {
  background: linear-gradient(180deg, #e6e6e6 0%, #fff 100%);

  .section-title {
    margin-bottom: 20px;
  }

  .subtitle {
    margin-bottom: 80px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }
  /////////////////////////////////////////////////////////////////////////
  .six-list {
    padding-left: 0;
    margin-bottom: 74px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .six-item {
    display: block;
    border-radius: 20px;
    border: 1px solid #dedede;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    padding: 30px 10px 50px 30px;

    @include mobile() {
      padding: 20px;
    }
  }
  .six-item__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 37px;
    border-radius: 10px;
    background: var(--1, #2d2f31);

    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile() {
      margin-bottom: 20px;
    }
  }
  .six-item__title {
    font-size: 26px;
    line-height: 110%;
    margin-bottom: 14px;
  }
  .five-item__text {
    @include over-width() {
      br {
        display: none;
      }
    }
  }
  /////////////////////////////////////////////////////////////////////////
  .five-bottom__subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 20px;
  }
  .five-bottom__info {
    text-align: center;
    font-size: 26px;
    line-height: 110%;
    margin-bottom: 75px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }

  /////////////////////////////////////////////////////////////////////////

  .five-img {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
  }
}

.seven {
  .section-inner {
    padding: 130px 0;
    position: relative;
    z-index: 1;

    @include desctop() {
      padding: 90px 0;
    }

    @include table() {
      padding: 60px 0;
    }

    @include mobile() {
      padding: 35px 0;
    }
  }
  .section-title {
    margin-bottom: 30px;
  }
  .subtitle {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 16px;
  }

  .seven-info {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 80px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }

  .seven-list {
    display: flex;
    gap: 20px;
    padding-left: 0;
    margin-bottom: 20px;

    @include table() {
      flex-direction: column;
    }
  }
  .seven-item {
    border-radius: 20px;
    background: linear-gradient(180deg, #e6e6e6 0%, #f0f0f0 100%);
    padding: 50px;
    display: block;

    @include small() {
      padding: 20px;
    }

    @include table() {
      width: 100%;
    }
    &:first-child {
      max-width: 680px;
      width: 100%;
    }
    &:last-child {
      max-width: 480px;
      width: 100%;
    }
  }
  .seven-item__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 20px;
  }
  .seven-item__text {
    font-size: 22px;
    line-height: 120%;
  }
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .form-inner {
  }
  .form-section-wrap {
  }
  .form-section-row {
  }
  .btn {
  }
}

.eight {
  .eight-inner {
    padding: 0 0 130px 0;
    position: relative;

    @include mobile() {
      padding: 35px 0 0 0;
    }
  }

  .section-title {
    margin-bottom: 80px;
    text-align: start;

    span {
      margin-left: 240px;
      display: block;
    }
  }
  .eight-rows {
    margin-bottom: 89px;
    @include mobile() {
      margin-bottom: 20px;
    }
  }
  .eight-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;

    &:last-child {
      flex-direction: row-reverse;

      .eight-img {
        max-width: 480px;
      }

      .eight-list {
        max-width: 580px;
        width: 100%;
      }
    }
  }
  .eight-list {
    padding-left: 0;
  }
  .eight-item {
    margin-bottom: 64px;
    display: flex;
    align-items: flex-start;
    gap: 33px;

    @include mobile() {
      margin-bottom: 20px;
      gap: 20px;
    }
  }
  .eight-item__number {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;

    border-radius: 10px;
    background: var(--1, #2d2f31);
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .eight-item__content {
  }
  .eight-item__title {
    font-size: 30px;
    line-height: 110%;
    margin-bottom: 20px;
  }

  .eight-item__text {
    font-size: 22px;
    line-height: 120%;
  }
  .eight-item__link {
    color: #969696;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    &:hover {
      color: #2d2f31;
    }
  }
  .eight-img {
    max-width: 580px;
    width: 100%;
  }
}

.nine {
    background: #F6F8FA;
    padding: 120px 0 153px;
    @include mobile (){
        padding: 35px 0;
    }
    .nine-inner {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;

        padding-right: 50px;

        @include small (){
            padding-right: 0;
        }

        @include table (){
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .nine-left {

    }

    .section-title {
        font-size: 50px;
        margin-bottom: 34px;
        color: #1538BA;
        text-transform: initial;

        font-size: calc(30px + 20 * ((100vw - 640px)/(1920 - 640)));

        @media screen and(min-width: 1920px) {
            font-size: 50px;
        }

        @include table (){
            br {
                display: none;
            }
        }

        @include mobile (){
            text-align: center;
        }
    }

    .nine-subtitle {
        color: #FFF;
        font-family: 'Exo2SemiBold',sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.44px;

        display: inline-block;

        padding: 16px 14px 20px 18px;
        border-radius: 18px;
        background: #D32112;

        margin-bottom: 38px;

        @include mobile (){
            text-align: center;
            padding: 15px 10px;
            margin-bottom: 20px;
        }

    }

    .nine-list {
        display: flex;
        flex-direction: column;
        gap: 38px;

        padding-left: 11px;

        @include desctop (){
            padding-left: 0;
        }

        @include mobile (){
            gap: 20px;
        }
    }

    .nine-item {
        display: flex;
        align-items: center;
        gap: 30px;

        @include mobile (){
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding: 20px 10px;
            border: 1px solid rgba($color: #000000, $alpha: .1);
            border-radius: 20px;
            gap: 15px;
        }
    }

    .nine-item__img {
        width: 40px;
    }

    .nine-item__text {
        color: #1538BA;
        font-family: 'Exo2Medium',sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @include table (){
            br {
                display: none;
            }
        }
    }

    .nine-right {
        @include table (){
            width: 100%;
        }
    }

    .form-inner {
        max-width: 500px;
        width: 100%;
        background-image: url(../img/nine/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 50px 60px;

        border-radius: 40px;
        position: relative;

        @include desctop (){
            padding: 50px 20px 20px;
            max-width: 350px;
        }

        @include table (){
            max-width: 500px;
        }

        @include mobile (){
            padding: 30px 10px 20px;
        }
        &::after {
            content: '';
            position: absolute;

            left: 50%;
            transform: translateX(-50%);
            top: -49px;

            background-image: url(../img/nine/play.svg);
            background-repeat: no-repeat;
            background-size: contain;
            filter: drop-shadow(0px 15.895px 15.895px rgba(0, 0, 0, 0.40));
            width: 139px;
            height: 79px;
            z-index: 1;

            @include mobile (){
                width: 80px;
                height: 80px;
                top: -30px;
            }
        }
    }

    .form-subtitle {
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
        line-height: 160%;
        @include desctop (){
            font-size: 20px;
        }
    }

    .form-section-wrap {
        width: 100%;
        gap: 10px;
    }

    .form-section-row {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .form-bottom {
        text-align: center;
        margin-top: 10px;
    }
    .nine-right {
        padding-top: 62px;

        @include mobile (){
            padding-top: 25px;
        }
    }

}
.last {
  .section-inner {
    padding: 120px 0 120px 0;
    position: relative;
    z-index: 1;

    border: 1px solid #abbcc3;
    background: linear-gradient(111deg, #e6e6e6 -27.61%, #f0f0f0 101.56%);

    @include desctop() {
      padding: 90px 0;
    }

    @include table() {
      padding: 60px 0;
    }

    @include mobile() {
      padding: 35px 0;
    }
  }
  .section-title {
    margin-bottom: 20px;
  }
  .subtitle {
    margin-bottom: 120px;

    @include mobile() {
      margin-bottom: 20px;
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .form-inner {
    max-width: 706px;
    width: 100%;
    margin: 0 auto;
  }
  .form-section-wrap {
    max-width: 100%;
  }
  textarea {
    border-radius: 10px;
    background: #fff;
    width: 100%;
    height: 120px;
    padding-top: 20px;
    resize: none;
    outline: none;
    border: none;

    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    padding-left: 24px;

    @include mobile() {
      font-size: 16px;
    }

    &::placeholder {
      color: #616161;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;

      @include mobile() {
        font-size: 16px;
      }
    }
  }
  .form-section-row {
  }
  .btn {
    width: 100%;
    text-transform: uppercase;
  }

  .last-icon {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.footer {
  position: static;
  padding: 32px 0;
  background: #fff;

  @include mobile() {
    padding: 20px 0;
    position: relative;
  }

  .header-inner {
    align-items: center;
    justify-content: space-between;

    @include desctop() {
      row-gap: 50px;
      justify-content: center;
      column-gap: 30px;

      flex-wrap: wrap;
      row-gap: 40px;
    }
    @include mobile() {
      flex-direction: column;
      gap: 15px;
    }
  }

  .footer-text {
    font-size: 16px;
    line-height: 120%;
  }

  .politica {
    font-size: 15px;
    font-weight: 300;
    line-height: 120%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    cursor: pointer;
  }

  .logo {
    width: 181px;
  }

  .header-call {
    @include mobile() {
      width: 80%;
    }
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(27, 27, 27, 0.6);
  transition: opacity 200ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  cursor: pointer;

  &.active {
    z-index: 999;
    opacity: 1;
  }
}
.modal-top {
  position: relative;

  @include mobile() {
    padding-top: 10px;
  }
}

.fancybox-slide > * {
  @include mobile() {
    padding: 10px 0 0 0;
  }
}

.modal-politika {
  .modal-top__title {
    text-align: center;
    font-size: 35px;
    line-height: 120%;

    @include mobile() {
      font-size: 22px;
    }
  }

  .modal-content {
    background: #fff;
  }
}

.clouse {
  position: absolute;
  background: url(../img/modals/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  right: 17px;
  top: 19px;
  cursor: pointer;
  z-index: 20;

  @include mobile() {
    top: 8px;
    right: 10px;
    width: 18px;
    height: 18px;
  }
}

.modal-content-inner {
  position: relative;
  background-color: white;
  width: auto;
  //max-width: 951px;
  z-index: 20;
  max-width: 450px;
  width: 100%;
  border-radius: 10px;

  display: none;

  .form-info__bottom {
    text-align: center;
  }

  .fancybox-button svg {
    display: none;
  }

  .btn {
    width: 100%;
    box-shadow: none;
    @include mobile() {
      height: 55px;
    }
  }

  .form-section-row {
    margin-bottom: 8px;

    background: none;
    border: 1px solid rgb(72, 71, 71);

    &::after {
      width: 24px;
      height: 24px;
      left: 18px;
    }

    width: 100%;

    input {
      color: #000;

      &::placeholder {
        color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    @include mobile() {
      height: 50px;
    }
  }

  .form-bottom {
    color: #1a1a18;
    font-size: 12px;
    // text-align: center;
    // justify-content: center;

    margin-top: 10px;
    text-align: center;

    @include mobile() {
      margin-top: 10px !important;
    }
    a {
      color: #1a1a18;
      text-decoration: underline;
    }
  }

  @include mobile() {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.fancybox-content {
  padding: 20px;
  @include mobile() {
    padding: 0;
  }
}

.modal-content {
  position: relative;
  z-index: 1;
  padding: 0;
  justify-content: center;

  border-radius: 10px;

  // @include desctop(){
  // padding: 45px 25px 54px 25px;
  // }

  @include table() {
    flex-direction: column;
  }

  @include mobile() {
    padding: 20px 10px 20px 12px;
  }

  .inp {
    max-width: 100%;
  }
}

.modal-content-info {
  z-index: 1;

  width: 100%;
}

.modal-content__img {
  width: 365px;
  top: 40%;
  left: 8%;
  position: absolute;
  @include table() {
    display: none;
  }

  img {
    object-fit: contain;
  }
}

.modal-phone-img {
  width: 468px;
  height: 341px;
  bottom: 43px;
  left: -12%;
  top: 109px;

  @include desctop() {
    // width: 160px;
    // top: auto;
  }
}

.modal-content__img-big {
  width: 506px;
  top: 38%;
  left: -5%;
  position: absolute;
}

.modal-top__title {
  color: #1b1b1b;
  font-size: 22px;
  font-style: normal;
  line-height: 110%;

  margin-bottom: 20px;

  span.reg {
    font-weight: 500;
  }

  @include table() {
    text-align: center;
  }

  @include mobile() {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.small-titleForm {
  font-size: 22px;
}

.modal-politika {
  padding-top: 20px;
  top: 0;
  overflow: scroll;
  height: 100%;
  max-width: 850px;
  margin: 40px 0;

  .clouse {
    background: url(../img/modals/close.svg);
    position: static;
    margin-left: auto;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    @include mobile() {
      background-size: contain;
    }
  }

  &::after {
    display: none;
  }

  @include desctop() {
    width: 80%;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  @include mobile() {
    width: 320px;
  }

  .modal-politika-text {
    margin-bottom: 20px;
    padding-left: 20px;
    font-style: normal;

    &.fat {
      padding-left: 0;
      padding-left: 10px;
    }
  }

  div {
    @include mobile() {
      font-size: 12px !important;
    }
  }

  .btn {
    width: 450px;
    margin: 0 auto;
  }
}

.modal5,
.modal-politika,
.modal1,
.modal2,
.modal3,
.modal4 {
  display: none;

  &.active {
    display: block;
  }
}

.form-section-bottom {
  margin-top: 27px;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  color: #181818;
  align-items: flex-start;

  @include mobile() {
    margin-top: 15px;
  }

  .form-section-bottom-img {
    flex-shrink: 0;
  }

  .form-section-bottom-text {
    text-align: start;
    color: #000;

    @include mobile() {
      font-size: 12px !important;
    }
  }

  a {
    position: relative;
    z-index: 3;

    @include mobile() {
      // font-size: 12px !important;
      // display: block;
      // text-indent: 0;
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.sectionForm {
  //max-width: 380px;
  width: 100%;
  justify-content: space-between;

  @include desctop() {
    max-width: 100%;
  }

  // @include table (){
  // max-width: 100%;
  // }
}

.form-inputs {
  width: 240px;
  flex-shrink: 0;
}

#modalcoocke {
  max-width: 550px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #fff;
  border-radius: 20px;
  padding: 20px 20px;
  box-shadow: 0 0 10px 1px #929090;
  z-index: 998;

  @include over-width() {
    padding: 20px;
  }

  @include mobile() {
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    padding: 10px;
    bottom: 10px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal-content {
    overflow: visible;
    display: flex;
    align-items: center;
    gap: 20px;
    @include mobile() {
      padding: 0;
      flex-direction: column;
    }
  }

  .modal-top__title {
    font-size: 14px;
    text-align: start;
    margin-right: 20px;
    line-height: 120%;
    margin-bottom: 0;

    @include table() {
      text-align: center;
    }

    @include mobile() {
      text-align: center;
      margin-right: 0;
      margin-bottom: 0;
      font-size: 12px !important;
      margin-bottom: 10px;
      line-height: 100% !important;
    }
  }

  .modal-content {
    align-items: center;
    @include mobile() {
      gap: 0;
    }
  }

  .btn {
    max-width: 210px;
    width: 100%;
    flex-shrink: 0;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    transition: all 0.5s;

    &:active {
      top: 0;
    }

    @include over-width() {
      max-width: 170px;
    }

    @include mobile() {
      width: 120px;
      height: 34px !important;
      font-size: 14px;
      min-height: auto;
    }

    &::before {
      @include mobile() {
        display: none;
      }
    }
  }
}

.offerOk {
    position: relative;
    margin-top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0 70px;
    background-image: none;
    @include mobile (){
        align-items: start;

        padding: 130px 0 150px;
    }

    &::after {
        display: none;
    }

        .offer-left {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            &::after {
                display: none;
            }
        }
    .offer-inner {
        padding: 0;
        max-width: 100%;
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }

    .btn-wrap {
        width: 300px;
        margin: 0 auto;

        @include mobile(){
            width: 100% !important;
        }
    }

    .btn {

        width: 300px;
        height: 60px;

        @include mobile(){
            width: 100% !important;
        }
    }

    &::before {
        display: none;
    }

    .offer-form__text {
        font-size: 25px;
        text-align: center;
        margin-bottom: 30px;
        font-weight: 400;
    }

    .section-title {
        max-width: 938px;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        position: relative;
        z-index: 2;
        font-size: 38px;

        @include desctop (){
            font-size: 26px;
        }

        @include mobile (){
            font-size: 20px !important;
            line-height: 100% !important;
        }

        #thanksName {
            display: block;
            @include mobile (){
                font-size: 20px !important;
                line-height: 100% !important;
            }
        }
        span {
            @include mobile (){
                font-size: 20px !important;
                line-height: 100% !important;
            }
        }

        &::after {
            display: none;
        }
    }
}

.footerThanks {
    .header-inner {
        align-items: center;
    }
    .header-info {
        flex-direction: column;
        gap: 10px;
    }
}
.headerThanks {
    .header-inner {
        align-items: center;
    }

    .header-info{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

}